<div class="modal-content">
  <h2>Add new actor</h2>
  <form [formGroup]="formGroup">
    <input
      type="text"
      formControlName="name"
      [class.error]="submitted && formGroup.get('name')?.errors"
    />
    
    <button (click)="add()" class="submit">Add!</button>

    <div>
      <div
        *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
        class="text-error">
        <label *ngIf="formGroup.controls['name'].hasError('required')">
          * Name is required
        </label>
      </div>
    </div>
  </form>
</div>
