<div class="header">
  <a href routerLink="/actors" routerLinkActive="is-active">Actors</a> |
  <a href routerLink="/movies" routerLinkActive="is-active">Movies</a>
</div>
<h3>Yokoy movies</h3>
<div class="table-header">
  <div class="filters" style="margin-bottom: 12px">
    <input
      type="text"
      name="search"
      placeholder="Search"
      (keyup)="onSearchChange($event)"
    />
    <input
      type="number"
      name="year"
      placeholder="Year"
      (keyup)="onYearChange($event)"
    />
    <input
      type="number"
      name="rate"
      placeholder="Rate"
      (keyup)="onRateChange($event)"
    />
  </div>
  <button (click)="add()">Add</button>
</div>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Year</td>
      <td>Actors</td>
      <td>Rate</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movies">
      <td>{{ m.id }}</td>
      <td>{{ m.title }}</td>
      <td>{{ m.year }}</td>
      <td>{{ m.actors }}</td>
      <td>{{ m.rate ? m.rate + "/ 10" : "-" }}</td>
      <td>
        <a class="table-link" (click)="preview(m.id)">Preview</a> |
        <a class="table-link" (click)="delete(m.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
