/**
Variable file to allow customizations of theme
e.g. branding color, fonts, spacings etc.
**/

// Brand colors
$link-color: blue;
$error-color: red;
$gray-500: #aea8ac;

// Typography
$base-font-family: Roboto, "Helvetica Neue", sans-serif;

// Spacer
$unit: 0.25rem;