table {
    border-collapse: collapse;
}

thead td {
    font-weight: bold;
}

td {
    padding: $unit * 2;
}

tr {
    border-bottom: 2px solid $gray-500;
}


.table-link {
    color: $link-color;
    cursor: pointer;
}

.table-header {
    margin: $unit * 2 $unit * 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}