<div class="header">
  <a href routerLink="/actors" routerLinkActive="is-active">Actors</a> |
  <a href routerLink="/movies" routerLinkActive="is-active">Movies</a>
</div>
<h3>Yokoy actors</h3>
<form [formGroup]="filterForm" class="filters">
  <div class="search">
    <label for="search">Search: </label>
    <input
      type="text"
      formControlName="name"
      placeholder="Search"
    />
  </div>
  <button (click)="add()">Add</button>
</form>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of actors">
      <td>{{ a.id }}</td>
      <td>{{ a.name }}</td>
    </tr>
  </tbody>
</table>
